.c1{
    width: 1720px;
    height: 274px;
    background-color: black;
    
}
.h1{
    text-align: center;
    color: white;
    font-size:xx-large;
    padding-top: 90px;
}
.h5{
    text-align: center;
    color: white;
    font-size:x-large;
    margin-top: 42px;
    
}
.c2{
    margin-top: -157px;
    margin-left: 385px;
}
.c3{
    background-color:rgba(255, 255, 255, 0.205);
    width: 849px;
    height: 1120px;
}
.c4{
    background-color: rgba(109, 78, 78, 0.274);
    width: 840px;
    height: 1120px;   
}
.c5{
    margin-top: 50px;
    margin-left: 25px;
}
.p1{
    margin-top: 19px;
    font-size: x-large;
}
.c6{
    margin-top:50px ;
    margin-left: 25px;
}
.u1{
    margin-left: -10px;
    margin-top: 39px;
    font-size: x-large;

}
.c7{
    margin-top:50px ;
    margin-left: 25px;
 
}
.u2{
    margin-left: -10px;
    margin-top: 39px;
    font-size: x-large;

}
.c8{
    margin-top:50px ;
    margin-left: 25px;
 
}
.p2{
    margin-left: -1px;
    margin-top: 32px;
    font-size: x-large;

}
.c9{
    
        margin-top: 50px;
        margin-left: 25px;
    
}
.p3{
    margin-top: -11px;
    font-size: x-large;

}
.progress{
    width: 50%;
}
.p4{
    margin-top: -11px;
    font-size: x-large;

}
.p5{
    margin-top: 30px;
    font-size: x-large;

}
.p6{
    margin-top: 30px;
    font-size: x-large;

}
.p7{
    margin-top: 30px;
    font-size: x-large;

}
 .u3{
    margin-left: -12px;
    margin-top: 39px;
    font-size: x-large;

} 
.c10{
    
    margin-top: 50px;
    margin-left: 25px;

}
.c11{
    
    margin-top: 50px;
    margin-left: 25px;

}
.p8{
    margin-top: 30px;
    font-size: x-large;

}
.p9{
    margin-top: -6px;
    font-size: x-large;

}
.p10{
    margin-top: -6px;
    font-size: x-large;

}
.c12{
    margin-top:50px ;
    margin-left: 25px;
 
}
.p11{
    margin-top: 10pxpx;
    font-size: x-large;

}
.p12{
    margin-top: -11px;
    font-size: x-large;

}
.p13{
    margin-top: -11px;
    font-size: x-large;

}